$dull-gray:#F1F1F1;

@font-face {
  font-family: Nagitta;
  src: url("../fonts/Nagitta-Regular.ttf");
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
}

::-webkit-scrollbar {
  width: .25rem;
  height: .25rem;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #335cff;
  outline: none;
}

.pad {
  padding-top: 5px !important;
}


.section-title {
  display: flex;

  h1 {
    margin-right: auto;
    margin-left: auto;
    font-weight: 800;
    letter-spacing: 5px;
    border-bottom: 3px solid #335cff;
    font-size: 2rem;
  }
}

.text-center {
  text-align: center;
}

.fy-button {
  padding: 1.5rem 2rem;
  letter-spacing: 5px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.2s ease-in;
}

.fy-container {
  width: 1500px;
  margin: 0 auto;
  padding: 2rem;
}

.fy-button:hover {
  cursor: pointer;
}

.fy-text {
  letter-spacing: 1px;
}

.fy-flex, .fy-flex-center {
  display: flex;
}

.fy-flex-center{
  > * {
    margin: auto;
  }
}

.fy-flex-inline {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.fy-horizontal-scroll {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;

   > div {
    display: inline-flex;
  }
}

#flip {
  height: 5vh;
  overflow:hidden;

  #flip-items {
    position: relative;
    animation: show 10s linear infinite;

    .flip-item {
      height: 5vh;
      display: flex;
      align-items: center;

      p {
        margin: 0;
        color: #9c9c9c;
      }
    }
  }
}

@keyframes show {
  0% {top: 0;}
  17.55% {top: 0;}
  20% {top: -5vh;}
  37.5% {top: -5vh;}
  40% {top: -10vh;}
  57.5% {top: -10vh;}
  60% {top: -5vh;}
  77.5% {top: -5vh;}
  80% {top: 0;}
}


nav {
  display: flex;
  width: 100%;
  padding: 0 50px;
  z-index: 1;
  min-height: 10vh;
  background: #000000;

  .nav-right {
    margin-left: auto;
  }

  .nav-center {
    margin-right: auto;
    margin-left: auto;
  }

  .nav-items {
    display: flex;

    li {
      display: flex;
      .nav-item {
        color: #c3c3c3;
        font-weight: bold;
        border-bottom: 3px solid transparent;;
        text-decoration: none;
        letter-spacing: 1px;
        margin: auto;
        padding: 1rem 1.2rem;
        text-transform: uppercase;
        transition: all 0.2s ease-in;
      }

      .nav-item:hover {
        color: #ffffff;
        border-bottom-color: #335cff;
      }
    }
  }

  #nav-icon {
    color: #335cff;
  }
}

#top-nav-bar {
  position: sticky;
  top: 0;
}

#intro {
  background: transparent;
  color: #ffffff;

  .greeting {font-size: 2rem}
  .title{font-size: 8.5rem}
  .fy-flex-center {min-height: 80vh}

  .career-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 5px;
    font-weight: bold;

    .flip-item {text-align: left}
    #i-am {margin-right: 1rem;}
  }

  #intro-links {
    margin-top: 4rem;
    display: flex;
    justify-content: center;

    .one {
      background-color: #335cff;
      color: #fff;
      margin-right: 20px;
      outline: 1px solid #335cff;
    }
    .one:hover {
      background-color: #000000;
      color: #ffffff;
      transition: all 0.2s ease-in;
    }

    .two {
      color: #ffffff;
      outline: 1px solid #335cff;
    }

    .two:hover {
      color: #fff;
      background: #335cff;
      outline-color: #335cff;
      transition: all 0.2s ease-in;
    }

    .one-cover { margin-left: auto }
    .two-cover { margin-right: auto }
  }
}


#works {
  z-index: 2;
  color: #ffffff;
  background: #0e0e0e;

  .works {
    margin-top: 2rem;
    .work {
      margin: 1rem;
      width: 20rem;
      .details {
        margin: 1rem;
        .title {
          font-size: 1.4rem;
        }
        .summary, .title {
          margin-top: 1rem;
        }
        .summary {
          color: #9c9c9c;
        }
      }
      .image {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
  }
}


#services {
  color: #ffffff;

  .services {
    justify-content: center;
    margin-top: 2rem;

    .service {
      width: 25rem;
      padding: 1rem;

      .image {
        margin: 1rem 0;
      }
      .title, .description {
        margin-top: .5rem;
      }
      .description {
        color: #9c9c9c;
      }
    }
  }
}


.contact {
  color: #ffffff;
  background: #0e0e0e!important;

  .fy-flex {
    margin: 4rem 1rem;
    justify-content: space-evenly;
    align-items: center;

    h1 {
      font-weight: 900;
      font-size: 4rem;
    }
  }

  .fy-button {
    background-color: #335cff;
    color: #ffffff;
  }
}


.bottom-nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;

  hr {
    width: 80vw;
    margin: 0 auto;
    border: none;
    border-top: 1px solid #9c9c9c;
  }
}

footer {
  color: #ffffff;
}


//Navigation is here
label {
  margin: 0 0 0 0;
  font-size: 30px;
  display: none;
}
#toggle {
  display: none;
}



.nav-title {
  display: flex;
  align-items: center;
  min-height: 10vh;

  .nav-logo {
    font-size: 3rem;
    font-weight: 800;
    text-decoration: none;
    color: #335cff;
  }
  .nav-collapse-toggle {
    color: #ffffff;
    font-size: 1.5rem;
    display: none;
  }
}