

@media screen and (max-width:1285px) {
  .about-text p {
    max-width: 45ch;
  }
}
@media screen and (max-width: 1025px) {
  .about-text {
    padding: 150px 37px 0 33px;
  }
  .about-img {
    height: 700px !important;
    width: 450px !important;
  }
  .hero h1 {
    font-size: 100px;
  }

  .hero p {
    font-size: 17px;
  }

  .hobby {
    width: 350px;
    padding: 20px;
    p {
      font-size: 16px;
    }
  }

}

@media screen and (max-width: 769px) {

  .menu-area a {
    font-size: 13px;
    padding: 30px 15px;
  }

  .hobby h3 {
    font-size: 25px;
    padding-top: 10px;
  }

  body {
    padding: 0 0 40px 0 !important;
  }


  .list {
    display: flex;
  }
  .hobby {
    position: initial !important;
    right: 0% !important;
    left: 0% !important;
    //bottom: -380px !important;
    width: 640px !important;
    background-color: #000000;
    padding: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;

    margin: auto;

    p {
      font-size: 16px !important;
    }

  }
  .about-flex {
    flex-wrap: wrap;
    justify-content: center !important;
    //margin: 10px 0;

    .about-img {
      background-image: url("../img/me.jpg");
      -webkit-background-size: cover;
      background-size: cover;
      width: 645px !important;
      height: 450px !important;
      //z-index: initial;
    }
  }
  .about-text {
    padding: 20px !important;
    h1 {
      font-size: 50px !important;
      text-align: center !important;
      max-width: 100% !important;
    }
    p {
      max-width: 70ch !important;
      font-size: 16px !important;
      line-height: 170% !important;
    }
  }
}

@media screen and (max-width: 415px) {
  label {
    display: block;
    cursor: pointer;
    line-height: 100px;
  }
  .menu-area {
    background-color: #fff;
    display: none;

    height: 100vh;
  }
  .menu-area a {
    display: block !important;
    text-align: center;
    padding: 30px 0;
    line-height: 20px;
    margin: 0 auto;
    border-bottom: 1px solid black;
  }

  #toggle:checked + .menu-area {
    display: block;
  }
  nav {
    padding: 0 20px;
  }


  .list {
    display: block;
  }
  .hobby h3 {
    font-size: 25px;
    padding-top: 10px;
  }

  body {
    padding: 0 !important;
  }

  .hobby {
    position: initial !important;
    right: 0% !important;
    left: 0% !important;
    //bottom: -380px !important;
    width: 374px !important;
    background-color: #000000;
    padding: 0 !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;

    margin: auto;

    p {
      font-size: 16px !important;
    }

  }
  .about-flex {
    flex-wrap: wrap;
    //flex-direction: column-reverse;
    justify-content: center !important;
    //margin: 10px 0;

    .about-img {
      background-image: url("../img/me.jpg");
      -webkit-background-size: cover;
      background-size: cover;
      height: 400px !important;
      width: 374px !important;
      //z-index: initial;
    }
  }
  .about-text {
    padding: 20px !important;
    h1 {
      font-size: 50px !important
    }
    p {
      max-width: 44ch !important;
      font-size: 16px !important;
      line-height: 170% !important;
    }
  }
}

@media screen and (max-width: 376px) {
  // Mobile menu
  label {
    display: block;
    cursor: pointer;
    line-height: 100px;
  }
  .menu-area {
    background-color: #fff;
    display: none;

    height: 100vh;
  }
  .menu-area a {
    display: block !important;
    text-align: center;
    padding: 30px 0;
    line-height: 20px;
    margin: 0 auto;
    border-bottom: 1px solid black;
  }
  #toggle:checked + .menu-area {
    display: block;
  }
  nav {
    padding: 0 20px;
  }
// Code ends here


  .hobby h3 {
    font-size: 25px;
    padding-top: 10px;
  }

  body {
    padding: 0 !important;
  }

  .hobby {
    position: initial !important;
    right: 0% !important;
    left: 0% !important;
    //bottom: -380px !important;
    width: 335px !important;
    background-color: #000000;
    padding: 0 !important;
    margin-top: 20px !important;
    margin: auto;

    p {
      font-size: 16px !important;
    }

  }
  .about-flex {
    flex-wrap: wrap;
    justify-content: center !important;
    //margin: 10px 0;

    .about-img {
      background-image: url("../img/me.jpg");
      -webkit-background-size: cover;
      background-size: cover;
      height: 400px !important;
      width: 335px !important;
      //z-index: initial;
    }
        }
    .about-text {
      padding: 20px !important;
      h1 {
        font-size: 50px !important
      }
      p {
        max-width: 38ch !important;
        font-size: 16px !important;
        line-height: 170% !important;
      }
    }
  }

@media screen and (max-width: 360px) {

  label {
    display: block;
    cursor: pointer;
    line-height: 100px;
  }
  .menu-area {
    background-color: #fff;
    display: none;

    height: 100vh;
  }
  .menu-area a {
    display: block !important;
    text-align: center;
    padding: 30px 0;
    line-height: 20px;
    margin: 0 auto;
    border-bottom: 1px solid black;
  }

  #toggle:checked + .menu-area {
    display: block;
  }
  nav {
    padding: 0 20px;
  }

  .hobby h3 {
    font-size: 25px;
    padding-top: 10px;
  }

  body {
    padding: 0 !important;
  }

  .hobby {
    position: initial !important;
    right: 0% !important;
    left: 0% !important;
    //bottom: -380px !important;
    width: 335px !important;
    background-color: #000000;
    padding: 0 !important;
    margin-top: 20px !important;
    margin: auto;

    p {
      font-size: 16px !important;
    }

  }
  .about-flex {
    flex-wrap: wrap;
    justify-content: center !important;
    //margin: 10px 0;

    .about-img {
      background-image: url("../img/me.jpg");
      -webkit-background-size: cover;
      background-size: cover;
      height: 400px !important;
      width: 335px !important;
      //z-index: initial;
    }
  }
  .about-text {
    padding: 20px !important;
    h1 {
      font-size: 50px !important
    }
    p {
      max-width: 51ch !important;
      font-size: 14px !important;
      line-height: 170% !important;
    }
  }
}









