@media only screen and (max-width: 1500px){
	.fy-container {
		width: 1200px;
	}

	#works {
		.works {
			.work {
				width: 15rem;
			}
		}
	}

	#services {
		.services {
			.service {
				width: 20rem;
			}
		}
	}
}

@media only screen and (max-width: 1200px){
	.fy-container {
		width: 1000px;
	}

	.fy-button {
		padding: 1rem 1.5rem;
		font-size: 1.2rem;
	}

	#works {
		.works {
			.work {
				width: 15rem;

				.details {
					.title {
						font-size: 1.25rem;
					}
				}
			}
		}
	}

	#services {
		.services {
			.service {
				width: 17.5rem;
				.title {
					font-size: 1.25rem;
				}
			}
		}
	}

	#contact {
		h1 {
			font-size: 3rem;
		}
	}
}

@media only screen and (max-width: 1000px){
	.fy-container {
		width: 95vw;
	}
}

@media only screen and (max-width: 950px){
	#intro {
		.greeting {font-size: 1.75rem}
		.title{font-size: 7rem}
		.fy-flex-center {min-height: 65vh}

		.career-txt {
			font-size: 1.75rem;
		}
	}

	#works {
		.works {
			.work {
				width: 20rem;
			}
		}
	}

	#services {
		.services {
			.service {
				width: 15rem;
				padding: 0.5rem;
			}
		}
	}
}

@media only screen and (max-width: 825px){

	#works {
		.works {
			.work {
				width: 17.5rem;
			}
		}
	}

	#services {
		.services {
			.service {
				width: 70vw;
				text-align: center;
			}
		}
	}

	#contact {
		h1 {
			font-size: 2.5rem;
		}
	}
}

@media only screen and (max-width: 725px){
	.fy-button {
		padding: 1.125rem 1.5rem;
		font-size: 1rem;
	}

	#intro {
		.greeting {font-size: 1.5rem}
		.title{font-size: 5.5rem}

		.career-txt {
			font-size: 1.2rem;
		}
	}

	#works {
		.works {
			.work {
				width: 15rem;
			}
		}
	}

	#contact {
		h1 {
			font-size: 2rem;
		}
	}
}

@media only screen and (max-width: 630px) {
	#works {
		.works {
			.work {
				width: 12.5rem;
			}
		}
	}
}

@media only screen and (max-width: 570px) {
	nav {
		display: block;
		padding: 0 2rem;


		.nav-items {
			display: block;
			width: 100%;
			background: #000000;
		}
		#top-nav-items.nav-collapse {
			height: 0;
			overflow: hidden;
		}

		#top-nav-items.show.nav-collapse {
			height: auto;
		}

		.nav-title {
			.nav-collapse-toggle {
				display: block;
				margin-left: auto;
			}
		}
	}

	#top-nav-bar {
		position: fixed;
		top: 0;
	}

	.bottom-nav {

	}
}

@media only screen and (max-width: 555px) {
	.fy-button {
		padding: 0.75rem 1rem;
		font-size: 0.8rem;
	}

	#intro {
		.title{font-size: 3.5rem}
		.fy-flex-center {min-height: 75vh}

		.career-txt {
			display: block;
			margin-top: 1rem;

			#i-am {margin-right: 0}
			.flip-item {
				justify-content: center;
			}
		}
	}

	#works {
		.works {
			.work {
				width: 80vw;
			}
		}
	}

	#contact {
		.fy-flex {
			margin: 2rem 0;

			h1 {
				font-size: 1.5rem;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	#contact {
		.fy-flex {
			display: block;
			text-align: center;

			h1 {
				font-size: 2rem;
				margin-bottom: 2rem;
			}
		}
	}
}

@media only screen and (max-width: 500px) {

}